.newsContainer {
  padding: 1vw;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.path {
  align-content: center;
  background-color: rgb(245, 245, 245);
  box-shadow: 2px 2px 4px rgba(34, 60, 80, 0.2);
  border-radius: 0.5vh;
  min-height: 6vh;
  /* margin: 0.5rem 0; */
  width: 100%;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.col {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  align-items: center;
  font-size: medium;
}

.col.left {
  display: flex;
  justify-content: flex-start;
}

.col.middle {
  display: flex;
  justify-content: center;
}

.col.right {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768.01px) {
  .col.left {
    display: flex;
    justify-content: center;
  }

  .col.middle {
    display: flex;
    justify-content: center;
  }

  .col.right {
    display: flex;
    justify-content: center;
  }
}

.headerWrapper {
  width: 100%;
  z-index: 10;
}

.contentWrapper {
  min-height: 0;
  width: 100%;
  display: block;
}

.mainContainer {
  width: 100%;
  min-height: 54px;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  align-items: center;
}