.registrationPageBg {
  width: 100vw;
  height: 100vh;
}

.formBg {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 8px 20px 0px #1B3C50CC;
  padding: 48px;
  padding-bottom: 32px;
}
